.active {
    /* border: 1px solid #6dffbb; */
    border: 1px solid red;
}

.inactive {
    border: 1px solid #bbbbbb;
}

.dark-bg {
    background-color: #0a0a0a;
}

button {
    margin-right: 3px;
}

h1 {
    /* margin-top: 0; */
}

.light-bg {
    background-color: red;
}

.text {
    color: #bbbbbb;
    font-family: 'Ubuntu Mono', monospace;
}

.padded {
    padding: 0px 25px 0px 0px;
}

/* https://www.w3schools.com/howto/howto_css_split_screen.asp */

/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    /* top: 0; */
    overflow-x: hidden;
    /* padding-top: 20px; */
}

/* Control the left side */
.left {
    left: 0;
}

/* Control the right side */
.right {
    right: 0;
}

button:focus {
    outline: none;
}

.threshold {
    width: 100%;
    height: 20px;
}

input {
    border: 1px solid #0a0a0a;
}

input:focus {
    border: 1px solid #bbbbbb;
    outline: none;
}
